@import "./variables";
.hidden {
  display: none;
}

.space {
  width: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.width-100pc {
  width: 100%;
}

.height-100pc {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.txt-dec-none {
  text-decoration: none;
}

.vw-align-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.z-index-up {
  z-index: 1;
}
