$color1: #2c3e50;
$white: white;
$black: black;
$gray: gray;
$green: green;
$lightBlue: #c9ecf4;
$darkblue: darkblue;
$headerBgColor: linear-gradient(135deg, $darkblue, $lightBlue, transparent);
$themeColor1: #98b2da;
$themeColor2: #8096ce;
$txtHighLightColor: rgba(0, 0, 0, 0.38);
$txtHighLightBg: #eee;
$countryColor1: #19abd2;
$countryColor2: #19abd2;
